---
import FadeIn from '~/components/effects/FadeIn.astro';
import Button from '~/components/ui/Button.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ImageTextBlock from '~/components/widgets/ImageTextBlock.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

import graciaImage from '~/assets/images/gracia.png';
import tothetopImage from '~/assets/images/tothetop.png';
import paintprosImage from '~/assets/images/paintpros.png';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <HeroText tagline="">
    <Fragment slot="title">
      <div class="text-4xl">About Us</div>
    </Fragment>

    <Fragment slot="subtitle">
      We're a <span class="text-accent">small web dev business</span> with a passion for <span class="text-accent"
        >handcrafting websites.</span
      >
      <br /> No page builders, no WordPress, no shortcuts. We code 100% of our websites, employing <span
        class="text-accent">modern</span
      > coding standards, and creating <span class="text-accent">fast</span> and <span class="text-accent"
        >reponsive</span
      > designs.
    </Fragment>
  </HeroText>

  <HeroText tagline="">
    <Fragment slot="title">
      <div class="text-4xl">Projects</div>
    </Fragment>

    <Fragment slot="subtitle">
      We'll take on projects of all kinds, big or small. Check out some of our work below!
    </Fragment>
  </HeroText>

  <div class="lg:px-40 lg:mb-10">
    <FadeIn delay={300} direction="right">
      <ImageTextBlock
        title="Gracia Guatemala"
        text="Built for a small nonprofit organiztion, this site was built in a day to provide a landing, catalog, and contact form"
        imgsrc={graciaImage}
        width="md:w-1/2"
      />
    </FadeIn>
  </div>

  <div class="lg:px-40">
    <FadeIn delay={300} direction="left">
      <ImageTextBlock
        imgleft={false}
        title="To The Top Indoor Climbing"
        text="A indoor rock climbing landing page, built with an modern and creative design simulating a rock climbing wall on the front page"
        imgsrc={tothetopImage}
        width="md:w-1/2"
      />
    </FadeIn>
  </div>

  <div class="lg:px-40 lg:mb-10">
    <FadeIn delay={300} direction="right">
      <ImageTextBlock
        title="Paint Pros"
        text="A clean and modern website for a painting company, built with simplicity in mind"
        imgsrc={paintprosImage}
        width="md:w-1/2"
      />
    </FadeIn>
  </div>

  <!-- CallToAction Widget *********** -->
  <FadeIn delay={300}>
    <CallToAction>
      <Fragment slot="actions">
        <Button class="btn-shiny" href="/contact">Contact Us</Button>
      </Fragment>

      <Fragment slot="title">
        Ready for the website you always wanted?<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
      </Fragment>

      <Fragment slot="subtitle">
        Let us know and get started now!<br class="hidden md:inline" />
      </Fragment>
    </CallToAction>
  </FadeIn>
</Layout>
